default:
  image: python:3.9
  tags: [ public-docker ]

stages:
  - test
  - run
  - prep
  - staging
  - release

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/topics/caching/
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python --version  # For debugging
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - python -m pip install --upgrade pip
  - pip install .

.test:
  script:    
    - pip install pytest pytest-cov # flake8
#    - flake8 --max-line-length=120 extrap tests setup.py
    - cd tests
    - pytest . --ignore-glob=test_gui*.py --doctest-modules --junitxml=junit/test-results.xml --cov=com --cov-report=xml
  artifacts:
    when: always
    paths:
      - junit/test-results.xml
    reports:
      junit: junit/test-results.xml

test-3.8:
    extends: ".test"
    image: "python:3.8"

test-3.9:
    extends: ".test"
    image: "python:3.9"

test-3.10:
    extends: ".test"
    image: "python:3.10"

test-3.11:
    extends: ".test"
    image: "python:3.11"

run:
  script:    
    - extrap --version

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+.*/'                 # Run this job when a tag is created
  before_script:
    - echo "running release_job" 
  script:
    - echo "running release_job"
  release:                               # See https://docs.gitlab.com/ee/ci/yaml/#release for available properties
    tag_name: '$CI_COMMIT_TAG'
    description: '$CI_COMMIT_TAG'


upload_release_job:
  stage: release
  tags: [ deep-sea, jacamar, shell ]
  cache: {}
  rules:
    - if: '$CI_SERVER_HOST != "gitlab.jsc.fz-juelich.de"'
      when: never
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+.*/'
  before_script:
    - echo "Project located at $CI_PROJECT_DIR" 
  script:
    - mkdir -p /p/project/deepsea/wp2/install_packages/extrap/
    - rm -rf .git
    - cd ..
    - mv "$CI_PROJECT_DIR" "$CI_PROJECT_NAME-$CI_COMMIT_TAG"
    - tar -czf "/p/project/deepsea/wp2/install_packages/extrap/$CI_PROJECT_NAME-$CI_COMMIT_TAG.tar.gz" "$CI_PROJECT_NAME-$CI_COMMIT_TAG" 

create_tarball:
  stage: prep
  tags: [ deep-sea, jacamar, shell ]
  cache: {}
  rules:
    - if: '$CI_SERVER_HOST != "gitlab.jsc.fz-juelich.de"'
      when: never
    - if: '$CI_COMMIT_TITLE =~ /^CI.*/'
  before_script:
    - echo "Project located at $CI_PROJECT_DIR" 
  script:
    - echo "Pipeline triggered by and commiting as ${GITLAB_USER_LOGIN}"
    - echo "Providing tarball on the DEEP system"
    - mkdir -p -m 777 /p/project/deepsea/ci-stage-sources/e/Extra-P
    - tar -cvz --exclude=.git* -f /p/project/deepsea/ci-stage-sources/e/Extra-P/extrap.tar.gz .

trigger-downstream:
  stage: staging
  rules:
    - if: '$CI_SERVER_HOST != "gitlab.jsc.fz-juelich.de"'
      when: never
    - if: '$CI_COMMIT_TITLE =~ /^CI.*/'
  variables:
    BUILD_INVERSE_DEPENDENCIES: 'TRUE'
    EB_FILE_CURRENT: "Extra-P-4.1.0-GCCcore-11.3.0-Python-3.10.4-current.eb"
  trigger: 
    project: deep-sea/wp3/software/easybuild-repository-deep-sea
    strategy: depend
    branch: ci-2023-dev
