msgpack/
msgpack-cxx.tar.gz
example-*/extra_prof_*/
example-*/*.o
example-*/*.so
example-*/test_exe
example-*/test_exe_no_profile
example-*/lulesh
example-gpu-lulesh/src/sedov15oct.lmesh
example-gpu-lulesh/src/sedov21oct.lmesh
example-miniFE